.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}

li {
  border: 1px solid #000;
  list-style: none;
  padding: 10px;
  margin: 20px 0;
}

form {
  margin-bottom: 1rem;
}

input {
  font-size: 1em;
  padding: 0.5rem;
}
